<div th:fragment="x-editable">
<link href="/resources/plugins/x-editable-1.5.1/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="/resources/plugins/x-editable-1.5.1/dist/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
</div>


<div th:fragment="fine-uploader">
<!-- include summernote css/js-->
<script src="/resources/plugins/fineuploader-dist/dist/fine-uploader.min.js"></script>
<script src="/resources/plugins/fineuploader-dist/dist/jquery.fine-uploader.min.js"></script>
</div>

