<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>arvix-matterport</title>

<meta name="description" content="" />
<meta name="author" content="" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style"
	content="black-translucent" />

<!-- BEGIN CORE CSS -->
<link rel="stylesheet" href="/resources/css/admin1.css" />
<link rel="stylesheet" href="/resources/globals/css/elements.css" />
<!-- END CORE CSS -->

<!-- BEGIN PLUGINS CSS -->
<link rel="stylesheet" href="/resources/globals/css/plugins.css" />
<!-- END PLUGINS CSS -->

<!-- BEGIN SHORTCUT AND TOUCH ICONS -->
<link rel="shortcut icon"
	 href="/resources/images/favicon-32x32.ico" />
<link rel="apple-touch-icon"
	href="/resources/globals/img/icons/apple-touch-icon.png" />
<!-- END SHORTCUT AND TOUCH ICONS -->
<script src="/resources/globals/plugins/modernizr/modernizr.min.js"></script>

</head>
<body>
	<div class="nav-bar-container">

		<!-- BEGIN ICONS -->
		<div class="nav-menu">
			<div class="hamburger">
				<span class="patty"></span> <span class="patty"></span> <span
					class="patty"></span> <span class="patty"></span> <span
					class="patty"></span> <span class="patty"></span>
			</div>
			<!--.hamburger-->
		</div>
		<!--.nav-menu-->

		<div class="nav-search">
			<span class="search"></span>
		</div>
		<!--.nav-search-->

		<div class="nav-user  ">
			<div class="user hide">
				<img src="/resources/globals/img/faces/tolga-ergin.jpg" alt="" /> <span
					class="badge">3</span>
			</div>
			<!--.user-->
			<div class="cross">
				<span class="line"></span> <span class="line"></span>
			</div>
			<!--.cross-->
		</div>
		<!--.nav-user-->
		<!-- END OF ICONS -->

		<div class="nav-bar-border"></div>
		<!--.nav-bar-border-->

		<!-- BEGIN OVERLAY HELPERS -->
		<div class="overlay">
			<div class="starting-point">
				<span></span>
			</div>
			<!--.starting-point-->
			<div class="logo">Arvix</div>
			<!--.logo-->
		</div>
		<!--.overlay-->

		<div class="overlay-secondary"></div>
		<!--.overlay-secondary-->
		<!-- END OF OVERLAY HELPERS -->
	</div>
	<!--.nav-bar-container-->
	<div class="content">

		<div class="page-header full-content">
			<div class="row">
				<div class="col-sm-6">
					<h1>
						Arvix <small>3D展示</small>
					</h1>
				</div>
				<!--.col-->
				<div class="col-sm-6">
					<ol class="breadcrumb">
						<li  th:if="${#authentication.name!='anonymousUser'}" >欢迎<samp  sec:authentication="name" ></samp><a href="/modelData/index">数据管理</a></li>
						<li><a href="#"><i class="ion-home"></i></a></li>
						<li><a href="#" class="active">首页</a></li>
						<li th:if="${#authentication.name=='anonymousUser'}"><a href="/login">登录</a></li>
					</ol>
				</div>
				<!--.col-->
			</div>
			<!--.row-->

		</div>
		<!--.page-header-->

		<!-- content -->
		<!-- PUT THE CONTENT HERE -->
		<!-- content -->

			<div class="row">
			
			<div class="col-md-4" th:each="showCase,showCaseStat:${modelDataJdbcPage.pageItems}">
				<div class="card card-meal card-meal-green card-square card-shadow">
					<div class="card-heading">
						<h3 class="card-title" th:text="${showCase[0]}"></h3>
						<div class="card-subhead" th:utext="${showCase[3]}">
							
						</div><!--.card-subhead-->
					</div><!--.card-heading-->
					<div class="card-body">
						<div class="image">
							<a href="#" th:href="'/show/?m='+${showCase[1]}">
							<img alt="" src="/resources/img/21.jpg"  th:if="${showCase[2]}" th:src="${'/upload'+showCase[2]}" />
							<img alt=""   th:unless="${showCase[2]}" src="/resources/img/default.jpg" />
							
							
							</a>
						</div><!--.image-->
					</div><!--.card-body-->
					<!--.card-footer-->
				</div><!--.card-->
			</div><!--.col-md-4-->
			
			</div>
		</div>
		<!--.footer-links-->

	<!--.content-->

	<!-- BEGIN GLOBAL AND THEME VENDORS -->
	<script src="/resources/globals/js/global-vendors.js"></script>
	<!-- END GLOBAL AND THEME VENDORS -->

	<!-- BEGIN PLUGINS AREA -->
	<!-- END PLUGINS AREA -->

	<!-- PLUGINS INITIALIZATION AND SETTINGS -->
	<!-- END PLUGINS INITIALIZATION AND SETTINGS -->

	<!-- PLEASURE -->
	<script src="/resources/globals/js/pleasure.js"></script>
	<!-- ADMIN 1 -->
	<script src="/resources/js/layout.js"></script>

	<!-- BEGIN INITIALIZATION-->
	<script>
		$(document).ready(function() {
			Pleasure.init();
			Layout.init();
		});
	</script>
	<!-- END INITIALIZATION-->
</body>
</html>

